@CHARSET "utf-8";

* {
margin: 0;
padding: 0;
list-style: none;
}

body{
	font-family: 'Droid Sans', arial, serif;
	font-size: 12px;
	margin: 0px;
	background-color: #F4F4F4;
	padding: 20px;
}

#topo #logo{
	margin-top: 10px;
	margin-bottom: 20px;
}
#search-input{
	margin-top: 30px;
	margin-bottom: 10px;
}

#all{
	width: 97%;
	margin: auto;
	padding: 10px;
	background-color: #FFF;
	padding-bottom: 20px;
}
#menu{
	margin-bottom: 10px;
	margin-left: 25px;
}

#menu li{
	display: inline;
	margin: -5px;
}

/*
#menu li:hover ul ul, li.over ul ul{
	display: none;
}

#menu li:hover ul, li li:hover ul, li.over ul, li li.over ul {
	display: block;
}
*/
#menu a{
	padding: 20px 50px 20px 50px;
	text-decoration: none;
	color: #333;
	background-color: #E9E9E9;
	border: 2px solid #FFF;
	text-shadow: 1px 1px 0px #FFF;
}

#menu a:hover, #menu .selected{
	padding: 20px 50px 20px 50px;
	text-decoration: none;
	color: #FFF;
	background-color: #999;
	border: 2px solid #FFF;
	text-shadow: 1px 1px 1px #FFF;
}

a{
	color: #F60;
	text-decoration: none;
}

a:hover{
	color: #333;
	text-decoration: none;
}

table{
	border-collapse: collapse;
  	border-spacing: 0;
  	max-width: 100%;
  	background-color: transparent;
}

.table td,
  .table th {
    background-color: #FAFAFA !important;
    
  }
  
  
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 10px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #FAFAFA;
  font-size: 0.83em;
  text-align: center;
}

.table tbody > tr:hover{
	background-color: rgb(241,241,255);
}
.table thead > tr > th {
	background-color: rgb(242,242,255);
  	vertical-align: bottom;
  	text-align: center;
  	font-size: 1.2em;
  	font-weight: normal;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 5;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}



.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
 
 background-color: rgba(237, 237, 240, 0.5);
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

footer{
	margin-top: 10px;
	padding-top: 10px;
	margin: 0 auto;
}